In [6]:
#importing required packaged
import pandas as pd
import numpy as np

In [11]:
# Reading the data file
df = pd.read_csv('https://raw.githubusercontent.com/reddy-nithin/PDS-Assignments/refs/heads/main/Assignment%201/StudentPerformance_Project/Raw_data/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [15]:
# Checking for null values
df.info()

df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [18]:
# Printing only parental level of education values
df['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [21]:
# Checking for duplicate rows
duplicate_rows = df[df.duplicated()]
print(f"Number of duplicate rows: {len(duplicate_rows)}")

# Checking for inconsistent data in categorical columns (e.g., "gender", "race/ethnicity", etc.)
for column in df.select_dtypes(include=['object']):
  print(f"\nUnique values for {column}:")
  print(df[column].unique())

print(df.head())

Number of duplicate rows: 0

Unique values for gender:
['female' 'male']

Unique values for race/ethnicity:
['group B' 'group C' 'group A' 'group D' 'group E']

Unique values for parental level of education:
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

Unique values for lunch:
['standard' 'free/reduced']

Unique values for test preparation course:
['none' 'completed']
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

In [23]:
# writing the new cleaned data file
df.to_csv('cleaned_data_studentPerformance.csv', index=False)

#### The above code create a new csv file with cleaned data. You can check the file in the "Files" section, located on the left side panel, bottom 5th files icon.

####You can also see the file in your googel drive.