In [117]:
import pandas as pd
import numpy as np

In [118]:
url = "https://raw.githubusercontent.com/reddy-nithin/PDS-Assignments/refs/heads/main/Assignment%202/Raw%20Data/train.csv"

In [119]:
raw_data = pd.read_csv(url)
clean_data = raw_data.copy()
clean_data.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49

In [120]:
clean_data.shape

(5847, 14)

### Looking for Missing *values*

In [121]:
clean_data.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

### Removing Units from columns

In [122]:
clean_data['Mileage'] = clean_data['Mileage'].str.extract('(\d+.\d+)').astype(float)
clean_data['Engine'] = clean_data['Engine'].str.extract('(\d+)').astype(float)
clean_data['Power'] = clean_data['Power'].str.extract('(\d+.\d+)').astype(float)
clean_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

### Dealing with missing Values

In [123]:
clean_data = clean_data.drop(columns=['New_Price'])
clean_data['Seats'].fillna(clean_data['Seats'].mode()[0], inplace=True)
clean_data['Engine'].fillna(clean_data['Engine'].median(), inplace=True)
clean_data['Power'].fillna(clean_data['Power'].median(), inplace=True)
clean_data['Mileage'].fillna(clean_data['Mileage'].median(), inplace=True)
clean_data.isna().sum()

<ipython-input-123-8f7329f721d8>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_data['Seats'].fillna(clean_data['Seats'].mode()[0], inplace=True)
<ipython-input-123-8f7329f721d8>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_data['Engine'].fillna(clean_data['Engine'].median(), inplace=True)
<ipython-input-123-8f7329f721d8>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_data['Power'].fillna(clean_data['Power'].median(), inplace=True)
<ipython-input-123-8f7329f721d8>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_data['Mileage'].fillna(clean_data['Mileage'].median(), inplace=True)

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

### Justification for Handling Missing Values

**New_Price**: Since this column has a very high percentage of missing values (86%), it's best to drop it from the analysis. Imputation with any value would introduce too much noise.

**Seats, Engine, Power**: These columns have less than 1% missing data. Imputation is reasonable here:

**Seats**: A categorical attribute, so using the mode (most common value) is appropriate.
        
**Engine and Power**: These are numerical values. I’ll impute them with the median, which is less sensitive to outliers.
    
**Mileage**: Less than 0.1% of values are missing. I’ll use the median here as well, given the small percentage of missing values.

In [124]:
# Performing one hot encoding using dummies
clean_data = pd.get_dummies(clean_data, columns=['Fuel_Type', 'Transmission'], drop_first=True)
clean_data = clean_data.replace({True: 1, False: 0})
clean_data.head()

<ipython-input-124-a23f6b77c7a9>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  clean_data = clean_data.replace({True: 1, False: 0})

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,0,0,1
1,2,Honda Jazz V,Chennai,2011,46000,First,18.19,1199.0,88.70,5.0,4.50,0,1,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,0,0,1
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,0,0,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,0,0,1

In [125]:
# Wrtitng the clean data to disk
clean_data.to_csv('clean_data_cars.csv', index=False)

### The above code create a new csv file with cleaned data. You can check the file in the "Files" section, located on the left side panel, bottom 5th files icon.

### You can also see the file in your googel drive.